.title {
    text-align: center;
    line-height: 24px;
    color: red;
}
.nav {
    position: relative;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 24px;
    cursor: pointer;
}